Repository ViewComponent/view_component, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/primer-rails-reviewers, @dylanatsmith, @blakewilliams, @spone, @juanmanuelramallo, @elia, @boardfish

.github/CODEOWNERS:

# Code ownership for ViewComponent
# Used to auto-assign PR reviews.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for details on how to update this file <3
* @github/primer-rails-reviewers

/docs/logo.md @dylanatsmith
/docs/logo/**/* @dylanatsmith

/lib/view_component/slotable.rb @blakewilliams
/test/view_component/slotable_test.rb @blakewilliams
/lib/view_component/slotable_v2.rb @blakewilliams
/test/view_component/slotable_v2_test.rb @blakewilliams
/lib/view_component/slot.rb @blakewilliams
/lib/view_component/slot_v2.rb @blakewilliams
/docs/guide/slots.md @blakewilliams
/docs/guide/slots_v2.md @blakewilliams

/lib/rails/generators/**/* @spone
/docs/guide/generators.md @spone
/test/generators/**/* @spone
/test/view_component/test_unit_generator_test.rb @spone
/Appraisals @spone
/gemfiles/**/* @spone

/app/**/* @juanmanuelramallo
/docs/guide/previews.md @juanmanuelramallo
/lib/view_component/preview.rb @juanmanuelramallo
/lib/view_component/preview_template_error.rb @juanmanuelramallo
/test/sandbox/test/components/previews/preview_source_from_layout_component_preview.rb @juanmanuelramallo
/test/view_component/default_preview_layout_integration_test.rb @juanmanuelramallo
/test/view_component/preview_helper_test.rb @juanmanuelramallo

/docs/guide/translations.md @elia
/test/view_component/translatable_test.rb @elia
/lib/view_component/translatable.rb @elia
/performance/translatable_benchmark.rb @elia
/test/sandbox/app/components/translatable_component.html.erb @elia
/test/sandbox/app/components/translatable_component.rb @elia
/test/sandbox/app/components/translatable_component.yml @elia
/test/sandbox/app/components/translations_component.html.erb @elia
/test/sandbox/app/components/translations_component.rb @elia

/.devcontainer/**/* @boardfish
/script/replicate-bug @boardfish
/lib/view_component/docs_builder_component.rb @boardfish
/lib/view_component/docs_builder_component.html.erb @boardfish
/lib/view_component/config.rb @boardfish
/test/view_component/config_test.rb @boardfish

this does not belong here
  Gemfile.lock
Owners: @github/primer-rails-reviewers

Revert counter to start at 0 instead of 1 (#361)
  docs/CHANGELOG.md
  lib/view_component/collection.rb
  test/sandbox/app/components/collection_counter_component.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

BREAKING: Remove deprecated `before_render_check`.
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/compiler.rb
  test/sandbox/app/components/old_validations_component.html.erb
  test/sandbox/app/components/old_validations_component.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

BREAKING: Support Ruby 2.7+ instead of 2.4+
  .github/workflows/ci.yml
  Gemfile.lock
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/compiler.rb
  view_component.gemspec
Owners: @github/primer-rails-reviewers

BREAKING: Remove deprecated `config.preview_path` in favor of `config.preview_paths`.
  docs/CHANGELOG.md
  docs/api.md
  docs/guide/previews.md
  lib/view_component/config.rb
  test/sandbox/config/environments/test.rb
  test/sandbox/test/config_test.rb
Owners: @github/primer-rails-reviewers, @juanmanuelramallo, @boardfish

I guess 2.7 didn't like that either
  lib/view_component/base.rb
Owners: @github/primer-rails-reviewers

[V3] Remove a couple of deprecations (#1593)
  .github/workflows/ci.yml
  Gemfile.lock
  docs/CHANGELOG.md
  docs/api.md
  docs/guide/previews.md
  lib/view_component/base.rb
  lib/view_component/compiler.rb
  lib/view_component/config.rb
  test/sandbox/app/components/old_validations_component.html.erb
  test/sandbox/app/components/old_validations_component.rb
  test/sandbox/config/environments/test.rb
  test/sandbox/test/config_test.rb
  test/sandbox/test/rendering_test.rb
  view_component.gemspec
Owners: @github/primer-rails-reviewers, @juanmanuelramallo, @boardfish

BREAKING: Remove deprecated #rendered_component in favor of #rendered_content
  docs/CHANGELOG.md
  lib/view_component/test_helpers.rb
  test/sandbox/test/base_test.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

BREAKING: Remove deprecated #with_variant
  docs/CHANGELOG.md
  lib/view_component/base.rb
Owners: @github/primer-rails-reviewers

BREAKING: Remove deprecated #generate_* methods. Use #generate.* instead.
  docs/CHANGELOG.md
  lib/view_component/base.rb
Owners: @github/primer-rails-reviewers

with_variant cleanups
  docs/guide/templates.md
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

BREAKING: Remove deprecated support for loading ViewComponent engine manually.
  docs/CHANGELOG.md
  lib/view_component.rb
  lib/view_component/engine.rb
Owners: @github/primer-rails-reviewers

cleanup deprecations
  lib/view_component/base.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

fix md lint
  docs/guide/templates.md
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Remove more deprecations for V3 (#1594)
  docs/CHANGELOG.md
  docs/guide/templates.md
  lib/view_component.rb
  lib/view_component/base.rb
  lib/view_component/engine.rb
  lib/view_component/test_helpers.rb
  test/sandbox/test/base_test.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

BREAKING: Remove deprecated content_areas feature. Use Slots instead.
  docs/CHANGELOG.md
  docs/content_areas.md
  docs/guide/slots.md
  lib/view_component/base.rb
  lib/view_component/content_areas.rb
  performance/components/content_areas_component.html.erb
  performance/components/content_areas_component.rb
  performance/slotable_benchmark.rb
  test/sandbox/app/components/content_areas_component.html.erb
  test/sandbox/app/components/content_areas_component.rb
  test/sandbox/app/components/content_areas_predicate_component.rb
  test/sandbox/app/views/integration_examples/content_areas.html.erb
  test/sandbox/config/routes.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/slotable_test.rb
  test/sandbox/test/slotable_v2_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

BREAKING: Remove deprecated content_areas feature. Use Slots instead. (#1595)
  docs/CHANGELOG.md
  docs/content_areas.md
  docs/guide/slots.md
  lib/view_component/base.rb
  lib/view_component/content_areas.rb
  performance/components/content_areas_component.html.erb
  performance/components/content_areas_component.rb
  performance/slotable_benchmark.rb
  test/sandbox/app/components/content_areas_component.html.erb
  test/sandbox/app/components/content_areas_component.rb
  test/sandbox/app/components/content_areas_predicate_component.rb
  test/sandbox/app/views/integration_examples/content_areas.html.erb
  test/sandbox/config/routes.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/slotable_test.rb
  test/sandbox/test/slotable_v2_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

BREAKING: Remove deprecated SlotsV1 in favor of current SlotsV2.
  docs/CHANGELOG.md
  docs/slots_v1.md
  lib/view_component/base.rb
  lib/view_component/slot.rb
  lib/view_component/slotable.rb
  performance/components/slot_component.html.erb
  performance/components/slot_component.rb
  performance/slotable_benchmark.rb
  test/sandbox/app/components/bad_slot_component.html.erb
  test/sandbox/app/components/bad_slot_component.rb
  test/sandbox/app/components/empty_slot_component.html.slim
  test/sandbox/app/components/empty_slot_component.rb
  test/sandbox/app/components/empty_slot_v2_with_slim_component.rb
  test/sandbox/app/components/slots_component.html.erb
  test/sandbox/app/components/slots_component.rb
  test/sandbox/app/components/slots_inherited_component.rb
  test/sandbox/app/components/slots_v2_block_component.rb
  test/sandbox/app/controllers/integration_examples_controller.rb
  test/sandbox/app/views/integration_examples/empty_slot.html.erb
  test/sandbox/app/views/integration_examples/empty_slot.slim
  test/sandbox/app/views/integration_examples/empty_slot_v2_with_slim.html.slim
  test/sandbox/app/views/integration_examples/slots.html.erb
  test/sandbox/config/routes.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/slotable_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

clean up CI
  .github/workflows/ci.yml
  Rakefile
Owners: @github/primer-rails-reviewers

Remove deprecated slots implementation (#1596)
  .github/workflows/ci.yml
  Rakefile
  docs/CHANGELOG.md
  docs/slots_v1.md
  lib/view_component/base.rb
  lib/view_component/slot.rb
  lib/view_component/slotable.rb
  performance/components/slot_component.html.erb
  performance/components/slot_component.rb
  performance/slotable_benchmark.rb
  test/sandbox/app/components/bad_slot_component.html.erb
  test/sandbox/app/components/bad_slot_component.rb
  test/sandbox/app/components/empty_slot_component.html.slim
  test/sandbox/app/components/empty_slot_component.rb
  test/sandbox/app/components/empty_slot_v2_with_slim_component.rb
  test/sandbox/app/components/slots_component.html.erb
  test/sandbox/app/components/slots_component.rb
  test/sandbox/app/components/slots_inherited_component.rb
  test/sandbox/app/components/slots_v2_block_component.rb
  test/sandbox/app/controllers/integration_examples_controller.rb
  test/sandbox/app/views/integration_examples/empty_slot.html.erb
  test/sandbox/app/views/integration_examples/empty_slot.slim
  test/sandbox/app/views/integration_examples/empty_slot_v2_with_slim.html.slim
  test/sandbox/app/views/integration_examples/slots.html.erb
  test/sandbox/config/routes.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/slotable_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

BREAKING: Remove deprecated slots setter methods. Use #with_SLOT_NAME instead.
  docs/CHANGELOG.md
  docs/guide/slots.md
  lib/view_component/polymorphic_slots.rb
  lib/view_component/slotable_v2.rb
  test/sandbox/app/components/deprecated_slots_setter_component.rb
  test/sandbox/app/components/haml_html_formatted_slot_component.html.haml
  test/sandbox/app/components/polymorphic_slot_component.rb
  test/sandbox/app/components/slim_html_formatted_slot_component.html.slim
  test/sandbox/app/components/slim_with_unsafe_html_component.html.slim
  test/sandbox/app/components/slots_v2_block_component.html.erb
  test/sandbox/app/components/title_wrapper_component.html.erb
  test/sandbox/test/components/previews/lambda_slot_passthrough_component_preview/default.html.erb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/slotable_v2_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

Update API to match aligned naming
  Gemfile.lock
  lib/view_component/system_test_helpers.rb
  test/sandbox/test/view_component_system_test.rb
Owners: @github/primer-rails-reviewers

Update documentation for testing using new approach
  docs/guide/testing.md
Owners: @github/primer-rails-reviewers

Update yardoc
  lib/view_component/system_test_helpers.rb
Owners: @github/primer-rails-reviewers

Remove empty line
  docs/guide/testing.md
Owners: @github/primer-rails-reviewers

Add support for explicit preview_path when generating component
  docs/CHANGELOG.md
  lib/rails/generators/preview/component_generator.rb
  lib/view_component/config.rb
  test/sandbox/test/config_test.rb
  test/sandbox/test/generators/preview_generator_test.rb
Owners: @github/primer-rails-reviewers, @spone, @boardfish

Use deprecation_warning for consistency
  docs/CHANGELOG.md
  lib/view_component.rb
  lib/view_component/compiler.rb
  lib/view_component/config.rb
  lib/view_component/content_areas.rb
  lib/view_component/deprecation.rb
  lib/view_component/engine.rb
  lib/view_component/polymorphic_slots.rb
  lib/view_component/slotable.rb
  lib/view_component/slotable_v2.rb
  lib/view_component/test_helpers.rb
Owners: @github/primer-rails-reviewers, @boardfish, @blakewilliams

Use deprecation_warning for consistency (#1602)
  docs/CHANGELOG.md
  lib/view_component.rb
  lib/view_component/compiler.rb
  lib/view_component/config.rb
  lib/view_component/content_areas.rb
  lib/view_component/deprecation.rb
  lib/view_component/engine.rb
  lib/view_component/polymorphic_slots.rb
  lib/view_component/slotable.rb
  lib/view_component/slotable_v2.rb
  lib/view_component/test_helpers.rb
Owners: @github/primer-rails-reviewers, @boardfish, @blakewilliams

Apply suggestions from code review
  docs/CHANGELOG.md
  docs/guide/testing.md
  lib/view_component/system_test_helpers.rb
Owners: @github/primer-rails-reviewers

re-add errant removal
  test/sandbox/app/components/slots_v2_component.html.erb
Owners: @github/primer-rails-reviewers

remove errant whitespace
  test/sandbox/app/views/layouts/application.html.erb
Owners: @github/primer-rails-reviewers

render fragment directly instead of via preview template
  app/views/view_components/preview.html.erb
  lib/view_component/system_test_helpers.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

reuse component instead of duplicating html
  test/sandbox/app/components/simple_javascript_interaction_with_js_included_component.html.erb
Owners: @github/primer-rails-reviewers

remove change to preview template
  app/views/view_components/preview.html.erb
Owners: @juanmanuelramallo

simplify example
  docs/guide/testing.md
Owners: @github/primer-rails-reviewers

simplify test helper
  lib/view_component/system_test_helpers.rb
Owners: @github/primer-rails-reviewers

simplify test helper
  lib/view_component/system_test_helpers.rb
Owners: @github/primer-rails-reviewers

prefix internal route with underscore
  lib/view_component/engine.rb
  lib/view_component/system_test_helpers.rb
Owners: @github/primer-rails-reviewers
