Repository ViewComponent/view_component, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/primer-rails-reviewers, @dylanatsmith, @blakewilliams, @spone, @juanmanuelramallo, @elia, @boardfish

.github/CODEOWNERS:

# Code ownership for ViewComponent
# Used to auto-assign PR reviews.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for details on how to update this file <3
* @github/primer-rails-reviewers

/docs/logo.md @dylanatsmith
/docs/logo/**/* @dylanatsmith

/lib/view_component/slotable.rb @blakewilliams
/test/view_component/slotable_test.rb @blakewilliams
/lib/view_component/slotable_v2.rb @blakewilliams
/test/view_component/slotable_v2_test.rb @blakewilliams
/lib/view_component/slot.rb @blakewilliams
/lib/view_component/slot_v2.rb @blakewilliams
/docs/guide/slots.md @blakewilliams
/docs/guide/slots_v2.md @blakewilliams

/lib/rails/generators/**/* @spone
/docs/guide/generators.md @spone
/test/generators/**/* @spone
/test/view_component/test_unit_generator_test.rb @spone
/Appraisals @spone
/gemfiles/**/* @spone

/app/**/* @juanmanuelramallo
/docs/guide/previews.md @juanmanuelramallo
/lib/view_component/preview.rb @juanmanuelramallo
/lib/view_component/preview_template_error.rb @juanmanuelramallo
/test/sandbox/test/components/previews/preview_source_from_layout_component_preview.rb @juanmanuelramallo
/test/view_component/default_preview_layout_integration_test.rb @juanmanuelramallo
/test/view_component/preview_helper_test.rb @juanmanuelramallo

/docs/guide/translations.md @elia
/test/view_component/translatable_test.rb @elia
/lib/view_component/translatable.rb @elia
/performance/translatable_benchmark.rb @elia
/test/sandbox/app/components/translatable_component.html.erb @elia
/test/sandbox/app/components/translatable_component.rb @elia
/test/sandbox/app/components/translatable_component.yml @elia
/test/sandbox/app/components/translations_component.html.erb @elia
/test/sandbox/app/components/translations_component.rb @elia

/.devcontainer/**/* @boardfish
/script/replicate-bug @boardfish
/lib/view_component/docs_builder_component.rb @boardfish
/lib/view_component/docs_builder_component.html.erb @boardfish
/lib/view_component/config.rb @boardfish
/test/view_component/config_test.rb @boardfish

Make render_in_view_context forward its args to the block (#1616)
  .standard.yml
  docs/CHANGELOG.md
  lib/view_component/test_helpers.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

Update generators.md
  docs/guide/generators.md
Owners: @spone

Update Changelog
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Update generators.md (#1622)
  docs/CHANGELOG.md
  docs/guide/generators.md
Owners: @github/primer-rails-reviewers, @spone

release 2.81.0
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Preview controller fix for recent Rails main change
  docs/CHANGELOG.md
  lib/view_component/test_helpers.rb
Owners: @github/primer-rails-reviewers

Preview controller fix for recent Rails main change (#1624)
  docs/CHANGELOG.md
  lib/view_component/test_helpers.rb
Owners: @github/primer-rails-reviewers

release 2.81.0
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

release 2.81.0 (#1625)
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Fix layout nesting in system tests when using `with_rendered_component_path` with custom layouts (#1619)
  app/controllers/view_components_system_test_controller.rb
  docs/CHANGELOG.md
  docs/index.md
  test/sandbox/app/views/layouts/application.html.erb
  test/sandbox/test/view_component_system_test.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

Revert "Avoid loading ActionView::Base during initialization (#1528)"
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/engine.rb
  test/sandbox/config/application.rb
  test/sandbox/config/initializers/zzz_complete_initialization.rb
Owners: @github/primer-rails-reviewers

Put back changelog
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Adding changelog for revert
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Revert "Avoid loading ActionView::Base during initialization (#1528)" (#1626)
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/engine.rb
  test/sandbox/config/application.rb
  test/sandbox/config/initializers/zzz_complete_initialization.rb
Owners: @github/primer-rails-reviewers

release 2.82.0
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

release 2.82.0 (#1627)
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Add simple example of a custom preview controller
  docs/guide/previews.md
Owners: @juanmanuelramallo

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

add pre version for release
  Gemfile.lock
  lib/view_component/version.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

mark changelog as v3.0.0.rc1
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

remaining cleanups for v3 rc1
  docs/_data/library.yml
  lib/view_component/content_areas.rb
  lib/view_component/deprecation.rb
  lib/view_component/slotable.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

lints
  docs/CHANGELOG.md
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Apply suggestions from code review
  docs/CHANGELOG.md
  docs/guide/previews.md
Owners: @github/primer-rails-reviewers, @juanmanuelramallo

Add simple example of a custom preview controller (#1628)
  docs/CHANGELOG.md
  docs/guide/previews.md
Owners: @github/primer-rails-reviewers, @juanmanuelramallo

Add Krystal to companies that use ViewComponent
  docs/index.md
Owners: @github/primer-rails-reviewers

Update CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Remove trailing whitespace
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Add newline
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Add Krystal to companies that use ViewComponent (#1636)
  docs/CHANGELOG.md
  docs/index.md
Owners: @github/primer-rails-reviewers

only raise if slot registered and not inherited
  lib/view_component/slotable_v2.rb
  test/sandbox/app/components/inherited_slots_v2_component.rb
Owners: @blakewilliams, @github/primer-rails-reviewers

change test for inherited component raise slot registered to slot override
  test/sandbox/test/slotable_v2_test.rb
Owners: @github/primer-rails-reviewers

fix title override spec
  test/sandbox/test/slotable_v2_test.rb
Owners: @github/primer-rails-reviewers

Add GetBlock to the list of users
  docs/index.md
Owners: @github/primer-rails-reviewers

Update index.md
  docs/index.md
Owners: @github/primer-rails-reviewers

Enable (experimental) single file components
  docs/CHANGELOG.md
  lib/view_component.rb
  lib/view_component/compiler.rb
  lib/view_component/inline_template.rb
  test/sandbox/test/inline_template_test.rb
Owners: @github/primer-rails-reviewers

Use consistent method names
  lib/view_component/inline_template.rb
Owners: @github/primer-rails-reviewers

Fix form helpers
  lib/view_component.rb
  lib/view_component/base.rb
  lib/view_component/form_builder.rb
  lib/view_component/form_builder_mixin.rb
  test/sandbox/test/action_view_compatibility_test.rb
Owners: @github/primer-rails-reviewers

Add rubocop config
  .rubocop.yml
Owners: @github/primer-rails-reviewers

Add test using slots
  test/sandbox/test/inline_template_test.rb
Owners: @github/primer-rails-reviewers

Add rubocop config (#1643)
  .rubocop.yml
Owners: @github/primer-rails-reviewers
