Repository ViewComponent/view_component, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/primer-rails-reviewers, @dylanatsmith, @blakewilliams, @spone, @juanmanuelramallo, @elia, @boardfish

Update docs/known_issues.md
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Be more specific about the issue
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Update docs/known_issues.md
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Update options
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Move section up so that all FormBuilder related is together
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Fix statement
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Apply suggestions from code review
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Elaborate on "classic" FormBuilder
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Remove `evironment` dependency of rake task `view_component:statsetup` (#1657)
  docs/CHANGELOG.md
  docs/index.md
  lib/view_component/rails/tasks/view_component.rake
  test/sandbox/test/rake_tasks_test.rb
Owners: @github/primer-rails-reviewers

Apply suggestions from code review
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Update section on form_for compatibility (#1644)
  docs/CHANGELOG.md
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Avoid loading ActionView::Base during initialization
  lib/view_component/base.rb
  lib/view_component/engine.rb
  test/sandbox/config/application.rb
  test/sandbox/config/initializers/zzz_complete_initialization.rb
Owners: @github/primer-rails-reviewers

Add CHANGELOG entry
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Avoid loading ActionView::Base during initialization (#1659)
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/engine.rb
  test/sandbox/config/application.rb
  test/sandbox/config/initializers/zzz_complete_initialization.rb
Owners: @github/primer-rails-reviewers

Make TestHelpers#rendered_content public
  Gemfile.lock
  lib/view_component/test_helpers.rb
Owners: @github/primer-rails-reviewers

BREAKING: Rename `SlotV2` to `Slot` and `SlotableV2` to `Slotable`.
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/slot.rb
  lib/view_component/slotable.rb
  lib/view_component/slotable_v2.rb
  performance/components/slots_component.html.erb
  performance/components/slots_component.rb
  performance/components/slots_component/header_component.html.erb
  performance/components/slots_component/item_component.html.erb
  test/sandbox/app/components/composable_slots_component.rb
  test/sandbox/app/components/inherited_slots_component.rb
  test/sandbox/app/components/inherited_slots_v2_component.rb
  test/sandbox/app/components/nested/slots_component.html.erb
  test/sandbox/app/components/nested/slots_component.rb
  test/sandbox/app/components/nested/slots_component/another_component.html.erb
  test/sandbox/app/components/nested/slots_component/my_highlight_component.html.erb
  test/sandbox/app/components/slots_before_render_component.html.erb
  test/sandbox/app/components/slots_before_render_component.rb
  test/sandbox/app/components/slots_before_render_component/my_greeting_component.html.erb
  test/sandbox/app/components/slots_before_render_component/my_title_component.html.erb
  test/sandbox/app/components/slots_block_component.html.erb
  test/sandbox/app/components/slots_block_component.rb
  test/sandbox/app/components/slots_component.html.erb
  test/sandbox/app/components/slots_component.rb
  test/sandbox/app/components/slots_component/my_highlight_component.html.erb
  test/sandbox/app/components/slots_delegate_component.html.erb
  test/sandbox/app/components/slots_delegate_component.rb
  test/sandbox/app/components/slots_render_predicate_component.rb
  test/sandbox/app/components/slots_v2_block_component.rb
  test/sandbox/app/components/slots_v2_delegate_component.rb
  test/sandbox/app/components/slots_with_empty_lambda_component.html.erb
  test/sandbox/app/components/slots_with_empty_lambda_component.rb
  test/sandbox/app/components/slots_with_pos_arg_component.html.erb
  test/sandbox/app/components/slots_with_pos_arg_component.rb
  test/sandbox/app/components/slots_without_content_block_component.html.erb
  test/sandbox/app/components/slots_without_content_block_component.rb
  test/sandbox/app/views/integration_examples/slots.html.erb
  test/sandbox/test/slotable_test.rb
  test/sandbox/test/view_component_system_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

move PolymorphicSlots into Slotable
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/polymorphic_slots.rb
  lib/view_component/slotable.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

remove deprecated methods from docs - these will be autogenerated in the v3.0.0 final release
  docs/api.md
Owners: @github/primer-rails-reviewers

Rename private TestHelpers#controller to avoid conflicts
  docs/CHANGELOG.md
  lib/view_component/system_test_helpers.rb
  lib/view_component/test_helpers.rb
  test/sandbox/app/components/render_check_component.html.erb
  test/sandbox/app/components/render_check_component.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/test_helper_test.rb
Owners: @github/primer-rails-reviewers

increase test timer
  test/test_helper.rb
Owners: @github/primer-rails-reviewers

Rename private TestHelpers methods (#1661)
  docs/CHANGELOG.md
  lib/view_component/system_test_helpers.rb
  lib/view_component/test_helpers.rb
  test/sandbox/app/components/render_check_component.html.erb
  test/sandbox/app/components/render_check_component.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/test_helper_test.rb
  test/test_helper.rb
Owners: @github/primer-rails-reviewers

Update index.md adding eagerworks to the list (#1655)
  docs/index.md
Owners: @github/primer-rails-reviewers

Add GetBlock to the list of users (#1640)
  docs/index.md
Owners: @github/primer-rails-reviewers

release 3.0.0.rc2
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  docs/index.md
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

release 3.0.0.rc2 (#1662)
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  docs/index.md
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Protect against Arbitrary File Read in System Test Controller
  app/controllers/view_components_system_test_controller.rb
  test/sandbox/test/view_component_system_test.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

Add changelog and avatar as per CONTRIBUTING guide
  docs/CHANGELOG.md
  docs/index.md
Owners: @github/primer-rails-reviewers

minimal fix for test
  app/controllers/view_components_system_test_controller.rb
  test/sandbox/test/integration_test.rb
  test/sandbox/test/view_component_system_test.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

clean up changelog
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

DRY up references to with_rendered_component_path temp dir
  app/controllers/view_components_system_test_controller.rb
  lib/view_component/system_test_helpers.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

even more DRY!
  app/controllers/view_components_system_test_controller.rb
Owners: @juanmanuelramallo

remove freeze
  app/controllers/view_components_system_test_controller.rb
Owners: @juanmanuelramallo

.translate requires compilation
  lib/view_component/base.rb
  lib/view_component/translatable.rb
  test/sandbox/test/translatable_test.rb
Owners: @github/primer-rails-reviewers, @elia

Protect against Arbitrary File Read in System Test Controller (#1664)
  app/controllers/view_components_system_test_controller.rb
  docs/CHANGELOG.md
  docs/index.md
  lib/view_component/system_test_helpers.rb
  test/sandbox/test/integration_test.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

Expose translations on the component class (#1656)
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/translatable.rb
  test/sandbox/test/translatable_test.rb
Owners: @github/primer-rails-reviewers, @elia

add docs
  docs/guide/templates.md
Owners: @github/primer-rails-reviewers

use has_inline_template? method
  lib/view_component/compiler.rb
Owners: @github/primer-rails-reviewers

Enable (experimental) single file components (#1556)
  docs/CHANGELOG.md
  docs/guide/templates.md
  lib/view_component.rb
  lib/view_component/compiler.rb
  lib/view_component/inline_template.rb
  test/sandbox/test/inline_template_test.rb
Owners: @github/primer-rails-reviewers

Raise error if translations are used in initializer
  docs/CHANGELOG.md
  lib/view_component/base.rb
  lib/view_component/translatable.rb
  test/sandbox/app/components/initializer_translations_component.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers, @elia

.github/CODEOWNERS:

# Code ownership for ViewComponent
# Used to auto-assign PR reviews.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for details on how to update this file <3
* @github/primer-rails-reviewers

/docs/logo.md @dylanatsmith
/docs/logo/**/* @dylanatsmith

/lib/view_component/slotable.rb @blakewilliams
/test/view_component/slotable_test.rb @blakewilliams
/lib/view_component/slotable_v2.rb @blakewilliams
/test/view_component/slotable_v2_test.rb @blakewilliams
/lib/view_component/slot.rb @blakewilliams
/lib/view_component/slot_v2.rb @blakewilliams
/docs/guide/slots.md @blakewilliams
/docs/guide/slots_v2.md @blakewilliams

/lib/rails/generators/**/* @spone
/docs/guide/generators.md @spone
/test/generators/**/* @spone
/test/view_component/test_unit_generator_test.rb @spone
/Appraisals @spone
/gemfiles/**/* @spone

/app/**/* @juanmanuelramallo
/docs/guide/previews.md @juanmanuelramallo
/lib/view_component/preview.rb @juanmanuelramallo
/lib/view_component/preview_template_error.rb @juanmanuelramallo
/test/sandbox/test/components/previews/preview_source_from_layout_component_preview.rb @juanmanuelramallo
/test/view_component/default_preview_layout_integration_test.rb @juanmanuelramallo
/test/view_component/preview_helper_test.rb @juanmanuelramallo

/docs/guide/translations.md @elia
/test/view_component/translatable_test.rb @elia
/lib/view_component/translatable.rb @elia
/performance/translatable_benchmark.rb @elia
/test/sandbox/app/components/translatable_component.html.erb @elia
/test/sandbox/app/components/translatable_component.rb @elia
/test/sandbox/app/components/translatable_component.yml @elia
/test/sandbox/app/components/translations_component.html.erb @elia
/test/sandbox/app/components/translations_component.rb @elia

/.devcontainer/**/* @boardfish
/script/replicate-bug @boardfish
/lib/view_component/docs_builder_component.rb @boardfish
/lib/view_component/docs_builder_component.html.erb @boardfish
/lib/view_component/config.rb @boardfish
/test/view_component/config_test.rb @boardfish
