Repository ViewComponent/view_component, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/primer-rails-reviewers, @dylanatsmith, @blakewilliams, @spone, @juanmanuelramallo, @elia, @boardfish

Add optional capture compatibility module for forms
  lib/view_component.rb
  lib/view_component/capture_compatibility.rb
  test/sandbox/app/components/form_for_component.rb
  test/sandbox/app/components/form_with_component.rb
  test/sandbox/app/components/incompatible_form_component.rb
  test/sandbox/test/action_view_compatibility_test.rb
Owners: @github/primer-rails-reviewers

Update patch
  lib/view_component/capture_compatibility.rb
Owners: @github/primer-rails-reviewers

Namespace
  lib/view_component/capture_compatibility.rb
Owners: @github/primer-rails-reviewers

Derisk the patch
  lib/view_component/capture_compatibility.rb
  test/sandbox/app/components/content_tag_component.rb
  test/sandbox/app/components/form_for_component.rb
  test/sandbox/app/components/label_component.rb
Owners: @github/primer-rails-reviewers

Extract into mixins
  lib/view_component.rb
  lib/view_component/action_view_form_helper_compatibility.rb
  lib/view_component/base.rb
  lib/view_component/form_builder_mixin.rb
  lib/view_component/form_helper_compatibility.rb
  test/sandbox/app/components/form_for_component.rb
  test/sandbox/app/components/form_with_component.rb
  test/sandbox/app/components/incompatible_form_component.rb
  test/sandbox/app/components/label_component.rb
Owners: @github/primer-rails-reviewers

Fix #1641: Conflict with private API in TestHelpers
  docs/CHANGELOG.md
  lib/view_component/system_test_helpers.rb
  lib/view_component/test_helpers.rb
  test/sandbox/test/components/previews/conflicting_private_api_preview.rb
  test/sandbox/test/conflicting_private_api_test.rb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/test_helper_test.rb
Owners: @github/primer-rails-reviewers

#content is part of the public API
  lib/view_component/base.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

#content? indicates of content has been passed to component
  lib/view_component/base.rb
  test/sandbox/app/components/content_predicate_component.rb
Owners: @github/primer-rails-reviewers

add changelog, fix test names
  docs/CHANGELOG.md
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

check for content being passed, not the content itself
  lib/view_component/base.rb
Owners: @github/primer-rails-reviewers

Add #content? (#1649)
  docs/CHANGELOG.md
  lib/view_component/base.rb
  test/sandbox/app/components/content_predicate_component.rb
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

Use test matrix, add initializers
  .github/workflows/ci.yml
  lib/view_component/engine.rb
  test/sandbox/app/components/content_tag_component.rb
  test/sandbox/app/components/form_for_component.rb
  test/sandbox/app/components/form_with_component.rb
  test/sandbox/app/components/incompatible_form_component.rb
  test/sandbox/app/components/label_component.rb
  test/sandbox/config/environments/test.rb
  test/sandbox/test/action_view_compatibility_test.rb
Owners: @github/primer-rails-reviewers

Temporary include matrix
  .github/workflows/ci.yml
Owners: @github/primer-rails-reviewers

Run standard
  lib/view_component/capture_compatibility.rb
  lib/view_component/engine.rb
  test/sandbox/config/environments/test.rb
Owners: @github/primer-rails-reviewers

Add basic changelog entry
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Add basic module doc
  lib/view_component/capture_compatibility.rb
Owners: @github/primer-rails-reviewers

Add partial test
  test/sandbox/app/components/form_partial_component.html.erb
  test/sandbox/app/components/form_partial_component.rb
  test/sandbox/app/views/forms/_label.html.erb
  test/sandbox/test/action_view_compatibility_test.rb
Owners: @github/primer-rails-reviewers

Use safer check
  lib/view_component/capture_compatibility.rb
Owners: @github/primer-rails-reviewers

Feedback, use string for matrix for better build names
  .github/workflows/ci.yml
  lib/view_component/capture_compatibility.rb
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Add prefix option to polymorphic slots
  lib/view_component/polymorphic_slots.rb
  test/sandbox/app/components/polymorphic_content_slot_component.rb
  test/sandbox/app/components/polymorphic_slot_component.rb
  test/sandbox/test/slotable_v2_test.rb
Owners: @github/primer-rails-reviewers

Refactor
  lib/view_component/polymorphic_slots.rb
Owners: @github/primer-rails-reviewers

Add config value to config defaults
  lib/view_component/config.rb
Owners: @boardfish

Document config value and test include logic
  lib/view_component/config.rb
  test/sandbox/test/config_test.rb
Owners: @boardfish, @github/primer-rails-reviewers

Add fix for C binding problem
  lib/view_component/capture_compatibility.rb
Owners: @github/primer-rails-reviewers

Update lib/view_component/config.rb
  lib/view_component/config.rb
Owners: @boardfish

Add optional compatibility module for capture/form/turbo compatibility fixes (#1650)
  .github/workflows/ci.yml
  docs/CHANGELOG.md
  lib/view_component.rb
  lib/view_component/capture_compatibility.rb
  lib/view_component/config.rb
  lib/view_component/engine.rb
  test/sandbox/app/components/form_partial_component.html.erb
  test/sandbox/app/components/form_partial_component.rb
  test/sandbox/app/views/forms/_label.html.erb
  test/sandbox/config/environments/test.rb
  test/sandbox/test/action_view_compatibility_test.rb
  test/sandbox/test/config_test.rb
Owners: @github/primer-rails-reviewers, @boardfish

Update index.md adding eagerworks to the list
  docs/index.md
Owners: @github/primer-rails-reviewers

Don't cache reserved I18n keys locally
  lib/view_component/translatable.rb
Owners: @elia

Only check once if the translation key wants html-safe
  lib/view_component/translatable.rb
Owners: @elia

Mark the html_safe_translation helper as private
  lib/view_component/translatable.rb
Owners: @elia

Extract the translation key generation to a class helper
  lib/view_component/translatable.rb
Owners: @elia

Inline the check for I18n reserved keys
  lib/view_component/translatable.rb
Owners: @elia

Expose translation methods on component classes
  docs/CHANGELOG.md
  lib/view_component/translatable.rb
  test/sandbox/test/translatable_test.rb
Owners: @github/primer-rails-reviewers, @elia

Remove evironment dependency of statsetup
  docs/CHANGELOG.md
  docs/index.md
  lib/view_component/rails/tasks/view_component.rake
  test/sandbox/test/rake_tasks_test.rb
Owners: @github/primer-rails-reviewers

fixup! Remove evironment dependency of statsetup
  docs/CHANGELOG.md
  test/sandbox/test/rake_tasks_test.rb
Owners: @github/primer-rails-reviewers

Add Mon Ami to list of View Component users
  docs/CHANGELOG.md
  docs/index.md
Owners: @github/primer-rails-reviewers

Add Mon Ami to list of View Component users (#1658)
  docs/CHANGELOG.md
  docs/index.md
Owners: @github/primer-rails-reviewers

Update section on form_for compatibility
  docs/known_issues.md
Owners: @github/primer-rails-reviewers

Update CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

.github/CODEOWNERS:

# Code ownership for ViewComponent
# Used to auto-assign PR reviews.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for details on how to update this file <3
* @github/primer-rails-reviewers

/docs/logo.md @dylanatsmith
/docs/logo/**/* @dylanatsmith

/lib/view_component/slotable.rb @blakewilliams
/test/view_component/slotable_test.rb @blakewilliams
/lib/view_component/slotable_v2.rb @blakewilliams
/test/view_component/slotable_v2_test.rb @blakewilliams
/lib/view_component/slot.rb @blakewilliams
/lib/view_component/slot_v2.rb @blakewilliams
/docs/guide/slots.md @blakewilliams
/docs/guide/slots_v2.md @blakewilliams

/lib/rails/generators/**/* @spone
/docs/guide/generators.md @spone
/test/generators/**/* @spone
/test/view_component/test_unit_generator_test.rb @spone
/Appraisals @spone
/gemfiles/**/* @spone

/app/**/* @juanmanuelramallo
/docs/guide/previews.md @juanmanuelramallo
/lib/view_component/preview.rb @juanmanuelramallo
/lib/view_component/preview_template_error.rb @juanmanuelramallo
/test/sandbox/test/components/previews/preview_source_from_layout_component_preview.rb @juanmanuelramallo
/test/view_component/default_preview_layout_integration_test.rb @juanmanuelramallo
/test/view_component/preview_helper_test.rb @juanmanuelramallo

/docs/guide/translations.md @elia
/test/view_component/translatable_test.rb @elia
/lib/view_component/translatable.rb @elia
/performance/translatable_benchmark.rb @elia
/test/sandbox/app/components/translatable_component.html.erb @elia
/test/sandbox/app/components/translatable_component.rb @elia
/test/sandbox/app/components/translatable_component.yml @elia
/test/sandbox/app/components/translations_component.html.erb @elia
/test/sandbox/app/components/translations_component.rb @elia

/.devcontainer/**/* @boardfish
/script/replicate-bug @boardfish
/lib/view_component/docs_builder_component.rb @boardfish
/lib/view_component/docs_builder_component.html.erb @boardfish
/lib/view_component/config.rb @boardfish
/test/view_component/config_test.rb @boardfish
