Repository ViewComponent/view_component, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/primer-rails-reviewers, @dylanatsmith, @blakewilliams, @spone, @juanmanuelramallo, @elia, @boardfish

increase process_timeout
  test/test_helper.rb
Owners: @github/primer-rails-reviewers

[904] Enable testing component JS interactions using new with_rendered_component_path method (#1061)
  Gemfile
  Gemfile.lock
  app/controllers/concerns/view_component/preview_actions.rb
  docs/CHANGELOG.md
  docs/guide/testing.md
  lib/view_component.rb
  lib/view_component/engine.rb
  lib/view_component/system_test_case.rb
  lib/view_component/system_test_helpers.rb
  test/sandbox/app/components/simple_javascript_interaction_with_js_included_component.html.erb
  test/sandbox/app/components/simple_javascript_interaction_with_js_included_component.rb
  test/sandbox/app/components/simple_javascript_interaction_without_js_included_component.html.erb
  test/sandbox/app/components/simple_javascript_interaction_without_js_included_component.rb
  test/sandbox/app/views/layouts/application.html.erb
  test/sandbox/test/view_component_system_test.rb
  test/test_helper.rb
Owners: @github/primer-rails-reviewers, @juanmanuelramallo

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Add support for explicit preview_path when generating component (#1598)
  docs/CHANGELOG.md
  lib/rails/generators/preview/component_generator.rb
  lib/view_component/config.rb
  test/sandbox/test/config_test.rb
  test/sandbox/test/generators/preview_generator_test.rb
Owners: @github/primer-rails-reviewers, @spone, @boardfish

remove ruby_version check
  Gemfile
Owners: @github/primer-rails-reviewers

update docs etc
  docs/adrs/0003-polymorphic-slot-definitions.md
  docs/guide/slots.md
  test/sandbox/app/components/title_wrapper_component.html.erb
  test/sandbox/test/components/previews/lambda_slot_passthrough_component_preview/default.html.erb
  test/sandbox/test/slotable_v2_test.rb
  test/sandbox/test/view_component_system_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

release 2.79.0
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

release 2.79.0 (#1605)
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Add missing documentation to utilize JS testing for RSpec
  docs/guide/testing.md
Owners: @github/primer-rails-reviewers

Add CHANGELOG update
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Update docs/guide/testing.md
  docs/guide/testing.md
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Add documentation to utilize JS testing for RSpec (#1606)
  docs/CHANGELOG.md
  docs/guide/testing.md
Owners: @github/primer-rails-reviewers

chore: Bump activesupport version (#1609)
  docs/CHANGELOG.md
  docs/compatibility.md
  view_component.gemspec
Owners: @github/primer-rails-reviewers

remove unused code
  lib/view_component/polymorphic_slots.rb
  lib/view_component/slotable_v2.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

Move Ruby 2.7 deprecation to engine.rb
  docs/CHANGELOG.md
  lib/view_component/compiler.rb
  lib/view_component/engine.rb
Owners: @github/primer-rails-reviewers

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Move Ruby 2.7 deprecation to engine.rb (#1610)
  docs/CHANGELOG.md
  lib/view_component/compiler.rb
  lib/view_component/engine.rb
Owners: @github/primer-rails-reviewers

Move _system_test_entrypoint out of preview controller
  app/controllers/concerns/view_component/preview_actions.rb
  app/controllers/view_components_system_test_controller.rb
  lib/view_component/engine.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

Add changelog update
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Fix lint errors
  app/controllers/view_components_system_test_controller.rb
Owners: @juanmanuelramallo

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Move system test endpoint out of preview controller to avoid issues when previews have authentication (#1612)
  app/controllers/concerns/view_component/preview_actions.rb
  app/controllers/view_components_system_test_controller.rb
  docs/CHANGELOG.md
  lib/view_component/engine.rb
Owners: @juanmanuelramallo, @github/primer-rails-reviewers

add release note for v3
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

add more copy
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Remove deprecated slots setter methods. Use #with_SLOT_NAME instead. (#1597)
  docs/CHANGELOG.md
  docs/adrs/0003-polymorphic-slot-definitions.md
  docs/guide/slots.md
  lib/view_component/polymorphic_slots.rb
  lib/view_component/slotable_v2.rb
  test/sandbox/app/components/deprecated_slots_setter_component.rb
  test/sandbox/app/components/haml_html_formatted_slot_component.html.haml
  test/sandbox/app/components/polymorphic_slot_component.rb
  test/sandbox/app/components/slim_html_formatted_slot_component.html.slim
  test/sandbox/app/components/slim_with_unsafe_html_component.html.slim
  test/sandbox/app/components/slots_v2_block_component.html.erb
  test/sandbox/app/components/title_wrapper_component.html.erb
  test/sandbox/test/components/previews/lambda_slot_passthrough_component_preview/default.html.erb
  test/sandbox/test/rendering_test.rb
  test/sandbox/test/slotable_v2_test.rb
  test/sandbox/test/view_component_system_test.rb
Owners: @github/primer-rails-reviewers, @blakewilliams

remove unnecessary include
  performance/components/translatable_component.rb
  test/sandbox/app/components/translatable_component.rb
Owners: @github/primer-rails-reviewers, @elia

release 2.80.0
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

release 2.80.0 (#1615)
  Gemfile.lock
  docs/CHANGELOG.md
  docs/_data/library.yml
  lib/view_component/version.rb
Owners: @github/primer-rails-reviewers

Make render_in_view_context forward its args to the block
  lib/view_component/test_helpers.rb
Owners: @github/primer-rails-reviewers

Add changelog entry and only lint with ruby 2.5 rules
  .standard.yml
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Set @virtual_path before initialization
  docs/CHANGELOG.md
  lib/view_component/base.rb
  test/sandbox/app/components/initializer_translations_component.rb
  test/sandbox/config/locales/en.yml
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

lint
  lib/view_component/base.rb
Owners: @github/primer-rails-reviewers

Add regression test
  test/sandbox/test/rendering_test.rb
Owners: @github/primer-rails-reviewers

V3 announcement (#1614)
  docs/CHANGELOG.md
Owners: @github/primer-rails-reviewers

Fix invalid HTML layout
  test/sandbox/app/views/layouts/application.html.erb
Owners: @github/primer-rails-reviewers

Add test for nested layout bug
  test/sandbox/test/view_component_system_test.rb
Owners: @github/primer-rails-reviewers

Update docs
  docs/CHANGELOG.md
  docs/index.md
Owners: @github/primer-rails-reviewers

Don't render file with default layout
  app/controllers/view_components_system_test_controller.rb
Owners: @juanmanuelramallo

.github/CODEOWNERS:

# Code ownership for ViewComponent
# Used to auto-assign PR reviews.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for details on how to update this file <3
* @github/primer-rails-reviewers

/docs/logo.md @dylanatsmith
/docs/logo/**/* @dylanatsmith

/lib/view_component/slotable.rb @blakewilliams
/test/view_component/slotable_test.rb @blakewilliams
/lib/view_component/slotable_v2.rb @blakewilliams
/test/view_component/slotable_v2_test.rb @blakewilliams
/lib/view_component/slot.rb @blakewilliams
/lib/view_component/slot_v2.rb @blakewilliams
/docs/guide/slots.md @blakewilliams
/docs/guide/slots_v2.md @blakewilliams

/lib/rails/generators/**/* @spone
/docs/guide/generators.md @spone
/test/generators/**/* @spone
/test/view_component/test_unit_generator_test.rb @spone
/Appraisals @spone
/gemfiles/**/* @spone

/app/**/* @juanmanuelramallo
/docs/guide/previews.md @juanmanuelramallo
/lib/view_component/preview.rb @juanmanuelramallo
/lib/view_component/preview_template_error.rb @juanmanuelramallo
/test/sandbox/test/components/previews/preview_source_from_layout_component_preview.rb @juanmanuelramallo
/test/view_component/default_preview_layout_integration_test.rb @juanmanuelramallo
/test/view_component/preview_helper_test.rb @juanmanuelramallo

/docs/guide/translations.md @elia
/test/view_component/translatable_test.rb @elia
/lib/view_component/translatable.rb @elia
/performance/translatable_benchmark.rb @elia
/test/sandbox/app/components/translatable_component.html.erb @elia
/test/sandbox/app/components/translatable_component.rb @elia
/test/sandbox/app/components/translatable_component.yml @elia
/test/sandbox/app/components/translations_component.html.erb @elia
/test/sandbox/app/components/translations_component.rb @elia

/.devcontainer/**/* @boardfish
/script/replicate-bug @boardfish
/lib/view_component/docs_builder_component.rb @boardfish
/lib/view_component/docs_builder_component.html.erb @boardfish
/lib/view_component/config.rb @boardfish
/test/view_component/config_test.rb @boardfish
